/* All styles for your header Components live here */
.header-container{
    display:flex;
    width: 600px;
}

.image-thumbnail{
    height:40px;
    width:40px;
    margin-top: 10px;
}

.header-title {
    display: flex;
    width:800px;
    margin-bottom: -15px;
}

.header-text {
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.header {
    font-size: 13px;
    margin-right: 5px;
}

.sub-header {
    font-size: 12px;
    color: gray;
}

.header-content {
    font-size:16px;
    width:62%;
}